.SinglePage{
    /* background-color: yellow; */
    /* width: 81rem; */
    margin: 1rem;
    /* height:80vh; */
    margin-top: 8.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
    gap: 3rem;
}
.image-content{
    /* background-color:aqua; */
    width: 23rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  gap: 1.5rem;
  margin-top: 1rem;

    /* padding:10px; */
}
.single-image{
    /* background-color: pink; */
    width: 22rem;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.single-image img{
    width:22rem ;
    height: 19rem;
}
.cart-content{
    /* background-color: violet; */
    /* width: 28rem; */
    /* height: 4rem; */
    display: flex;
    gap: 1rem;
    /* justify-content:space-evenly; */
    align-items:center;
    border: 1px solid rgb(212, 208, 208);
    padding: 10px;
}
.price{
    /* background-color: brown; */
    /* width:30rem;
display:flex;
justify-content: center;
align-items: center;
    height: 3rem; */
    /* align-items: center; */

}
.wishlist-btn{
    /* background-color: blueviolet; */
    /* width:31rem; */
    /* height: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-cart{
    /* background-color: chartreuse; */
    /* width: 22rem; */
    /* height: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.cart-btn{
    cursor: pointer;
    width: 8rem;
    background-color:  #0b7a74;
    border: 2px solid  #0b7a74;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 8px;
    border-radius: 10px;

}
.wishlist-btn{
    cursor: pointer;
    width: 8rem;
    background-color:  #0b7a74;
    border: 2px solid  #0b7a74;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 8px;
    border-radius: 10px;
}
/* button{
    cursor: pointer;
    width: 8rem;
    background-color:  #0b7a74;
    border: 2px solid  #0b7a74;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 8px;
    border-radius: 10px;
} */
.description-content{
    /* background-color: blue; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* height: 17rem;
    width: 23rem;
    margin-top: -13rem; */
    gap: 30px;
    padding: 10px;
} 
.single-title{
    /* background-color:orange; */
    /* width: 20rem;
    height: 3rem;
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: larger;
    font-weight: 600; */
    font-weight: 600; 
}
.single-description{
    /* background-color: red; */
    /* width: 20rem;
    display: flex;
    justify-content:left; */
    /* align-items: center; */
    /* height: 10rem;
    font-size: medium;
    font-weight: 400; */
    /* text-align: center; */
    /* color: #0b7a74; */
    color: #0b7a74;
}
.discount{
    /* font-size: medium;
    font-weight: 400; */
    /* text-align: center; */
    /* color: #0b7a74; */
}


@media (max-width:425px){
    .SinglePage{
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-top: 9rem;
        gap: 12rem;
        /* margin: 0.6rem; */
    }
    .single-title{
        margin-left: 0;
        margin-top: 0;
        width: 90%;
    }
    .image-content{
        width: 87%;
        height: auto;
        gap: 1rem;
        margin-left: 0px;
        margin-top: 1rem;
    }
    .single-image{
        width: 100%;
        height: auto;
        border: 1px solid #0b7a74;
        margin-top: 1rem;
    }
    .price{
        width: auto;
    }
    .cart{
        width: auto;
    }
    .wishlist-btn{
        width: auto;
    }
    .single-image{
        width: 100%;
        height: auto;
    }
    .single-image img{
        width:auto;
        height: auto;
    }
    .cart-content{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        border:none
    }
    .description-content{
        width: auto;
        margin-top: -12rem;
    }
    .single-description{
        width: 18rem;
        height: auto;
    }

}

@media (min-width:426px) and (max-width:1440px){
    .cart-content{
        margin-left: 6rem;
    }
}



/* @media screen and (max-width: 425px){
    .single-title{
        margin-left: -45rem;
    margin-top: -21rem;
    }
    .SinglePage{
        justify-content: flex-start;
    height: 40vh;
    gap: 1rem;
    margin-top: 17.5rem;
    }
 .single-description{
    margin-left: -45rem;
    height: 5rem;
 }
 .single-image img{
    width: 235px;
    height: 13rem;
 }
.image-content{
    height: 20rem;
    gap: 0rem;
}
} */