
.cart{
    /* background-color:green; */
    width: 100%;
    margin-top: 10rem;
    height: auto;
    display: flex;
}

.cart-body{
    width: 70%;
    margin-top:2rem;
    /* background-color: red; */
     /* height: 100vh;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    min-height: calc(100vh - 25rem);
    gap: 11px;
}
.cart-container{
    height:13rem;
    width: 80%;
    border: 1px solid #0b7a74 ;
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* margin-top: 2rem; */
    align-items: center;
    padding-left: 1rem;
    gap: 7rem;

    
}
.cart-heading{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    gap: 19rem;
    /* padding: 1rem; */
}
.cart-image{
    
    width: 11rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-image img{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}

.buy{
    width: 5rem;
    height: 2rem;
    display: flex;
    /* background-color: blue; */
}
.quant{
    width: 10rem;
    height: 4rem;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24rem;
    gap: 17px;
    margin-top: -23rem;
}
.number{
    width: 1rem;
    height: 1rem;
    /* background-color:rgb(194, 188, 188); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.bt{
    width: 2rem;
    height: 1.6rem;
    /* background-color: #0b7a74; */
    border-radius: 50%;
    border: 1px solid #0b7a74;
    cursor: pointer;

}
.bt2{
    width: 2rem;
    height: 1.6rem;
    /* background-color: #0b7a74; */
    border-radius: 50%;
    border: 1px solid #0b7a74;
    cursor: pointer;

}
.delete{
    border: none;
    background-color: white;

}
.delete-icon{

    color:rgb(211, 62, 62) ;
    width: 2em;
    height: 2em;
cursor: pointer;
}
.paisa h4{
    width: 6rem;
    height: 2rem;
   
    margin-top: 3rem;
    
}
.payment-body{
    /* border: 1px solid  #0b7a74; */
    width: 20%;
    height: 14rem;
    /* justify-content: center; */
    border: 1px solid #0b7a74;
    margin-top: 2rem;
    gap: 37px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.payment-heading{
    display: flex;
    flex-direction:column;
    align-items: center;

    /* gap: 19rem; */
}
.payment-list span{
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    font-size:large;
    font-style: normal;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 20px;
}
.order{
    background-color: red;
    height: 40px;
    width: 273px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* margin-top: 262px;
    margin-left: 37px;   */

}



@media  (max-width: 425px){
    .cart {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
    .cart-body {
        width: 100%;
        /* margin-top: 7rem; */
        /* background-color: chocolate; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* flex-wrap: wrap; */
        /* min-height: calc(100vh - 25rem); */
    }

    /* .cart-heading{
        gap: 6rem;
        margin-left: 4rem;
    } */
    .cart-container{
                 height: 15rem;
           width: auto;
           
           display: flex;
           padding: 20px;
    

    }
    .cart-image {
        width: 8rem;
        height: 10rem;
        /* border: 1px solid blue; */
    }
    .cart-image img{
        object-fit: cover;
        width: 125px;
        height: 179px;
        padding-top: 1rem;
    }
    .quant {
        width: 3rem;
        height: -21rem;
        /* background-color: grey; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 7rem;
        margin-top: -20rem;
    }
    
    .paisa h4 {
        
            margin-left: 10rem;
            margin-top: -11rem;
    }
    .payment-body {
             /* background-color: red; */
             width: auto;
             height: auto;
             /* justify-content: center; */
             border: 1px solid #0b7a74;
             /* margin-top: 2rem; */
             gap: 37px;
             display: flex;
             flex-direction: column;
             align-items: center;
             margin: 3rem;
    }
    .payment-heading{
        display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 19rem; */
    font-size: larger;
    font-weight: 900;
    }
    .payment-list span{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        font-size: large;
        font-style: normal;
        font-weight: 600;
        margin-left: 12px;
        margin-top: 8px;
    }
    .buy-now{
        text-align: center;
        border-radius: 0.25rem;
        color: #fff;
        font-weight: bold;
        width: 6rem;
        /* margin-left: 6rem; */
        margin-bottom: 1rem;
    }
    .delete{
        width: 3rem;
    }
    .number{
        width: 1rem;

    }

}
@media (min-width:426px) and (max-width:768px){
    .cart {
        /* background-color: green; */
        width: 100%;
        /* margin-top: 10rem; */
        height: auto;
}
.cart-body {
    width: 70%;
    /* margin-top: 10rem; */
    /* background-color: red; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* min-height: calc(100vh - 25rem); */
}
.cart-image{
    margin-top: 2rem;
}
.paisa{
    /* background-color: red; */
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: -5rem;
}
.cart-container {
    height: 14rem;
    width: 89%;
    border: 2px solid grey;
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* margin-top: 2rem; */
    align-items: center;
    /* padding-left: 2rem; */
    gap: 7rem;
}
.quant {
    width: 10rem;
    height: 4rem;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6rem;
    margin-top: -27rem;
}

.payment-body {
    width: 25%;
    /* height: auto; */
    /* justify-content: center; */
    /* border: 1px solid grey; */
    /* margin-top: 3rem; */
    border: 1px solid #0b7a74;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.payment-heading{
    font-size: larger;
    font-weight: 700;
}
.payment-list span{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: large;
    font-style: normal;
    margin-left: 12px;
    margin-top: 8px;
}
.buy-now-but{
    background-color: #0b7a74;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0b7a74;
    margin-bottom: 10px;
    margin-top: 4px;
}
.cart-is-empty{
    margin-left: 17rem;
}

}
@media (min-width:769px) and (max-width:1440px){
    .cart-is-empty{
        margin-left: 30rem;
    }

}
