.CardContainer{
    /* background-color: blue; */
    width: auto;
    top: 0;
    margin-left: 10px;
    flex-wrap: wrap;
    align-items: center;
justify-content: center;
    padding-top: 20px;
    padding-left: 13px;
    gap: 25px;
    display: flex;

}

/* @media (max-width: 1200px) {
    .CardContainer {
        width: 100%;
        margin-left: 18px;
        padding-left: 20px;
    }
} */
@media (max-width:425px) {
    .CardContainer {
        /* width: auto; */
        margin-right: 43px;
        margin-left: 7px;
        /* padding-left: 10px; */
        padding-top: 20px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}
@media  (min-width:426px)and (max-width:768px) {
    .CardContainer{
     
        width:auto;
        top: 0;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 43px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    
}



