 .navbar2{
    width: 86%;
   height: 40px;
       background-color:#f5f4f4;
    margin-left: 6rem;
    display: flex;
    /* position: relative;  */
    margin-top:-43px;
    border: 1px solid grey;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index:999; 
    
} 





  .cont {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 22px;
    font-size: medium;
    font-style: normal;
    font-weight: 600;
  }

@media (max-width:425px)
{
    .navbar2{
        width: 98%;
        height: 40px;
       background-color:#f5f4f4;
display: flex;
align-items: center;
justify-content: center;
margin-top: -43px;
border: 1px solid grey;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
position: fixed;
z-index:999; 
margin-left:2px;
    }
    .cont{
        gap: 4px;
        font-size:xx-small ;
    }
}
@media (min-width:426px) and (max-width:768px){
    .navbar2{
        margin-left: 9px;
        width: 97%;
    }
    .cont{
        font-size: small;
        gap: 7px;
    }
}
@media (min-width :769px) and (max-width:1200px){
    .navbar2{
        margin-left: 9px;
        width: 97%;
    }
    .cont{
        font-size: large;
        gap: 15px;
    }
}

