

.navbar{
    background-color:#f5f4f4;

    width: -webkit-fill-available;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo img{
    width: 88px;
    height: 75px;
    /* border-radius: 30%; */
    margin-left: 7rem;
    margin-top: 0.4rem;
    border-radius: 20px;
    /* border: 1px solid blue; */
}
.search{
    /* background-color: blue; */
    width: 20rem;
    margin-top: -3.5rem;
    margin-left: 30rem;
    
}

.search input{
    width: 30rem;
    height: 30px;
    /* margin-left: 30rem; */
    /* background-color:#9fbbab ; */

    background-color: white;
    text-align: center;
font-style:normal;
font-weight: 500;
font-size:medium;
border: 1px solid black; 
border-radius: 20px;
 /* color:rgb(7, 7, 7); */
 

}

.icons{

/* background-color: blue; */
width: 300px;
    display: flex;
    margin-left: 58rem;
    margin-top: -45px;
    height: 38px;
    gap: 40px;
    z-index: 1;
    color: black;
}
.but{
    width: 5rem;
    height: 2rem;
    background-color:white;
    border-radius: 10%;
}
.wishlist-count {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 5px;
    right: 0;
  }
  .cart-num{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 18px;
    font-weight: 300;
    position: relative;
    background-color: red;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin-top: -2.5rem;
    margin-left: 0.5rem;
  }
  .navbar-toggle {
    display:block;
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 10px;
}

@media  (max-width: 425px){

   
    .logo img{
        /* width: 277px;
        height: 204px; */
        margin-top: 6px;
        padding: 2px;
        margin-left: 47px;
    /* margin-left: 0rem;
    margin-top: -0.5rem; */
    }
    
    .search{
        /* width: 10rem; */
        /* margin-left: 30rem; */
        display: none;
    }
    .search input{
        /* width:89vw;
        
        */
        /* height: 20rem; */
    display: none;
    }
    .icons{
        display: none;


       }
       .navbar-menu{

       display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;}
       .navbar-menu.show{
        display: flex;
       }
    
    
}
@media screen and (min-width:426px) and (max-width:768px){
    .search {
       display: flex;
       align-items: center;
       justify-content: center;
       width: auto;
        /* margin-left: 20rem; */
    }
    .search input{
        width: 19rem;
    }
    .icons{
        margin-left: 39rem;
        width: 157px;
        height: 27px;
        gap: 29px;
        background-color: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
   
    
    
}
