.home{
  height: 352px;
  /* background-color: red; */
  /* margin-top: 20rem; */
  /* flex: 1; */
  /* padding: 16px; */
  margin-top: 141px;
  z-index: -1;
  overflow-x: hidden;
  /* display: flex; */
  /* flex-direction: row; */
  padding-top: 34px;
}


@media screen and (max-width: 480px){
.home{
  height: 280px;
}
}