.Footer{
  background-color:rgb(245, 244, 244);
/* height: 20rem; */
position: relative;
bottom: 0;

}
.footer-container{
    /* height: 280px; */
    display: flex;
    /* gap: 50px; */
    padding-left: 90px;
    padding-right: 90px;
    bottom: 0;
    align-items:flex-start;
    justify-content:space-around ;
    margin-top: 2rem;
    /* padding: 30px; */
}
.connect{
    width: 200px;
    display: flex;
    flex-direction: column;
     gap: 18px;
     color: rgb(55, 120, 121);
}
h3{
    font-weight: 700;
    font-size: 24px;
    color:rgb(12, 74, 75);
}
span {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 500;
    color: rgb(55, 120, 121);
    gap: 18px;

}
.know{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap:18px;
}
.online-shopping{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.address{
    width: 200px;
}
.add-para{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    color: rgb(55, 120, 121);

}
hr{
 margin-top: 40px;   
}
.copy{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    color:rgb(12, 74, 75);

}


@media  (max-width: 425px){
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    bottom: 0;
    margin-top: 2rem;
}
.footer-container{

    height: auto;
    display: flex;
    gap: 0px;
    flex-direction: column;
    bottom: 10;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-left: 4rem; */
}
.connect{
    align-items: center;
    padding: 20px;
}
.know{
    align-items: center;
    padding: 20px;
}
.online-shopping{
    align-items: center;
    padding: 20px;
}
.address{
    margin-left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
@media (min-width:425px) and (max-width:768px){
    .Footer{
        width: 100%;
   

    }
    .footer-container{
        height: auto;
        display: flex;
        gap: 7px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        /* flex-direction: column; */

    }
}