.wish{
    /* height: 100vh; */
    margin-top: 10rem;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-left: 5rem;
    padding-top: 2rem;
    gap:7rem;
    min-height: calc(100vh - 27rem);

}

.wish-heading{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.wish-image{
    display: flex;
    justify-content: center;
}

.wish-card{
    /* background-color: red; */
    width: 25rem;
    height: 26rem;
}
.button{
    display: flex;
    /* padding-left: 5rem;
    padding-top: 1rem; */
    padding: 2px;
    gap: 9px;
    height: 2rem;
    margin-left: 3rem;
    width: 21rem;
    background-color: #0b7a74;

}
.total{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
}
@media (max-width:425px) {
    .wish {
        /* height: 100vh; */
        margin-top: 10rem;
        /* background-color: blue; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        padding-left: 0rem;
        padding-top: 2rem;
        /* gap: 0rem; */
        /* min-height: calc(100vh - 27rem); */
    }
   
.wish-card {
    /* background-color: red; */
    width: 20rem;
    height: 24rem;
}
.buttons {
    display: flex;
    padding: 2px;
    gap: 2px;
    height: 2rem;
    margin-left: 0rem;
    width: 19rem;
}
.total{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-left:21px;
    
}

}

@media (min-width:426px) and (max-width:768px) {
    .wish{
        gap: 4rem;
    }
    .wish-card {
        /* background-color: red; */
            /* background-color: red; */
            width: 24rem;
            height: 28rem;
        
    }
    .total{
        margin-top: 0rem;
    margin-left: -3rem;
    font-size: 20px;
        font-weight: 700;
    }
    
}